* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, RobotoDraft, Helvetica, Arial, 'Noto Sans SC', '微軟正黑體', sans-serif;
}
body {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  height: 100vh;
}