* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif, 'Microsoft JhengHei';
}

.header--bg {
  height: 280px;
  background-image: url(./image/photo-1433357094834-cdeebc8e9dce.jpg);
  background-size: cover;
  background-position: bottom;
}



@media screen and (max-width: 660px) {
  .header--bg {
    height: 120px;
  }
}